<html>
<head>
  <title>Fwitter</title>
<link rel="StyleSheet" href=" {{ url_for('static', filename='style2.css') }}" type="text/css">
</head>
<body>
<div class="wrap --rtn">
  <form action="" method="POST" class="flex-form">
    <img src="https://raw.githubusercontent.com/bvaughn8/Fwitter/HTML/fwitterlogo.png" width="120" height="90" alt="Logo">
    <span class="pointer"></span>
    <input type="username" placeholder="username" name="username" class="ui-elem ui-elem-email" />
    <input type="password" placeholder="password" name="password" class="ui-elem ui-elem-pass" />
    <input type="submit" value="login">
    <ul class="select__list">
      <li id="js-usr-rtn" class="select__label select__label--active">Sign up    </li>
    </ul>
  </form>
</div>
</body>
</html>
